* {
  margin: 0;
  padding: 0;
}

.recipe-details-container {
  min-height: 100vh;
  width: 100%;
}

.recipe-top-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-top-info img {
  width: 100%;
}

.carousel-details {
  display: flex;
  gap: 1em;
  overflow-x: scroll;
  width: 190px;
}
